.formularz {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 10%;
    width: 100%;
}

.content div {
    padding: 5px;
}
.content img{
    justify-content: center;
}

.content .today__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
}

.today {
    padding: 0 50px;
}
.next__days{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.icon__container{
    display: flex;
    justify-content: center;
}